.steps
    @include containerHorisontalPadding
    padding-top: $sectionPaddingTop
    @media screen and (min-width: 768px)
        display: flex
        justify-content: space-around
        flex-flow: wrap
    @media screen and (min-width: 1024px)
        justify-content: flex-start   
.steps__figure
    width: 100%
    @media screen and (min-width: 768px)
        width: 40%
    @media screen and (min-width: 768px)
        margin-right: 10%    
.steps__image
    width: 100%
    margin-bottom: 5%
.steps__title
    font-weight: 600
    font-size: 175%
    @media screen and (min-width: 768px)
        font-size: 3.7vw
.steps__text
    @media screen and (min-width: 768px)
        font-size: 1.9vw

.send-parcel
    @include containerHorisontalPadding
    background: $mainElementColor
    padding-top: $sectionPaddingTop + 2%
    padding-bottom: 5%
    @media screen and (min-width: 768px)
        padding-top: $sectionPaddingTop
        display: flex
        justify-content: space-between
.send-parcel__titel-block
    @media screen and (min-width: 768px)
        width: 50%
    @media screen and (min-width: 1024px)
        width: 65% 
        padding-top: 0.5vw   
.send-parcel__titel
    @media screen and (min-width: 768px)
        font-size: 192%
    @media screen and (min-width: 768px)
        font-size: 3.6vw
    @media screen and (min-width: 1024px)
        font-size: 2.6vw          
.send-parcel__button
    @media screen and (max-width: 767px)
        margin: 6% 0%
    @media screen and (min-width: 768px)
        width: 43%
        margin-top: 1.5% 
    @media screen and (min-width: 1024px)
        width: 33%
        margin-top: inherit

.callBack
    @include containerHorisontalPadding
    padding-top: $sectionPaddingTop
    background: $mainColor
    @media screen and (min-width: 768px)
        display: flex
        justify-content: space-between
    @media screen and (min-width: 768px)
        padding-bottom: 2%    
.callBack__textBlock
    margin-top: 5%
    @media screen and (min-width: 768px)
        width: 40%
        margin-top: inherit
    @media screen and (min-width: 1024px)
        width: 65%
        display: flex
        flex-direction: column
        justify-content: space-between
        padding-top: 0.5%
        padding-bottom: 2%
    @media screen and (min-width: 1440px)
        padding-top: 0.5vw
        padding-bottom: 2vw
.callBack__titel
    color: $textAlternativeColor
    @media screen and (min-width: 768px)
        font-size: 3.6vw
    @media screen and (min-width: 1024px)
        font-size: 3.4vw
.callBack__text
    margin-top: 5%
    color: $textAlternativeColor
    font-weight: 600
    font-size: 4.6vw
    @media screen and (min-width: 768px)
        font-size: 2vw
        margin-top: inherit
    @media screen and (min-width: 1024px)
        font-size: 1.73vw
.callBack__form
    @media screen and (min-width: 768px)
        width: 43%
    @media screen and (min-width: 1024px)    
        width: 33%
        margin-top: 0.3vw                
.callBack__input
    color: $textAlternativeColor
    border-color: $textAlternativeColor
    &::placeholder 
        color: white
    @media screen and (min-width: 768px)
        width: 100%
.callBack__btn
    margin-top: 5%    
    background: #FFCC00
    color: $textColor
    @media screen and (min-width: 768px)
        width: 100%
.callBack__checkboxLabel
    width: 80%
    color: white
    background-color: $mainColor
    margin-left: 2%     
    font-size: 3.17vw
    margin-bottom: 3%
    @media screen and (min-width: 768px)
        font-size: 1.39vw
        margin-left: inherit
    @media screen and (min-width: 1024px)
        font-size: 0.9vw
        vertical-align: baseline
    @media screen and (min-width: 2560px)
        margin-top: 0.2vw    
.callBack__checkboxInput
    margin-top: 3%  
    margin-right: 3%
    vertical-align: sub
    @media screen and (min-width: 376px) and (max-width: 767px)
        vertical-align: baseline

.reviews
    @include containerHorisontalPadding
    padding-top: $sectionPaddingTop
    padding-bottom: $sectionPaddingBottom
.reviews__titel
    font-size: 8.7vw
    @media screen and (min-width: 768px)
        font-size: 5vw
    @media screen and (min-width: 1024px)
        font-size: 2.4vw    
.reviews__slider
    display: flex
    justify-content: space-between
    @media screen and (min-width: 1024px)
        display: grid
        gap: 4vw 
        grid-template-columns: 3vw auto 3vw
.reviews__controlersContiner
    display: flex
    align-items: center        
.slider__controlers
    $controler-border: 2px solid #C4C4C4
    $controlersLineLength: 4vw
    width: 12px
    width: $controlersLineLength
    height: 12px
    height: $controlersLineLength
    border-left: $controler-border
    border-bottom: $controler-border
    border-right: $mainColorThree
    border-top: $mainColorThree
    background-color: $mainColorThree
    text-align: center
    @media screen and (min-width: 768px)
        $controlersLineLength: 2vw
        width: $controlersLineLength
        height: $controlersLineLength
    &_left
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0)
    &_right
        transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0)
.slider__inner
    width: 75vw
    @media screen and (min-width: 768px)
        width: 83vw
        padding-top: 3vw
        padding-left: 2vw
        display: grid
        justify-content: space-around
        grid-template-columns: 36vw 36vw
    @media screen and (min-width: 1024px)
        width: inherit
        padding-left: inherit
        gap: 3vw
.slide__up
    display: flex
    min-height: 40vw
    @media screen and (min-width: 768px)
        min-height: inherit
        height: 19.5vw
    @media screen and (min-width: 1024px)
        height: 13.5vw      
.slide__authorImg
    width: 50%
    background-size: contain
    background-repeat: no-repeat
    @media screen and (min-width: 1024px)
        width: 34%
        margin-right: 4%
    &_userOne
        background-image: url("../images/author_1.jpg")
    &_userTwo
        background-image: url("../images/author_2.jpg")    
.slide__info-block
    width: 53%
    padding-left: 7%
    display: flex 
    flex-direction: column
    justify-content: space-between
.slide__author-name
    font-weight: 500
    @media screen and (min-width: 768px)
        font-size: 3.2vw
    @media screen and (min-width: 1024px)
        font-size: 2.7vw    
.slide__author-company
    font-weight: 400
    @media screen and (min-width: 768px)
        font-size: 2.3vw
    @media screen and (min-width: 1024px)
        font-size: 1.6vw     
.slide__sendInfo
    font-size: 62%
    font-size: 3.1vw   
    @media screen and (min-width: 768px)
        font-size: 1.3vw
    @media screen and (min-width: 1024px)
.slide__review
    font-size: 3.8vw
    @media screen and (min-width: 768px)
        font-size: 1.83vw
    @media screen and (min-width: 1024px)
        font-size: 1.25vw     
.slider__slide-container_One
    display: block    
.slider__slide-container_Two
    display: none
    @media screen and (min-width: 768px)
        display: block 

.advantages
    @include containerHorisontalPadding
    padding-top: $sectionPaddingTop
    padding-bottom: $sectionPaddingBottom
    background: $mainElementColor
.advantages__titel
    margin-top: 2vw
.advantages__figure-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap
.advantages__figures
    width: 25vw    
.advantages__icon-block
    background: $mainColorThree
    // background: wheat
    border-radius: 50%
    width: 100%
    height: 25vw
    display: flex
    justify-content: space-evenly
    align-items: center
.advantages__icons
    width: 50%
    height: 50%
    &_freeTruck
        width: 70%
    &_checklist
        height: 60%    
    &_searchBarcode
        width: 60% 
        margin-top: 15%   
.advantages__figcaptions
    text-align: center
    font-size: 3.1vw
    padding-top: 3vw         
                      