.steps
    @include containerHorisontalPadding
    padding-top: $sectionPaddingTop
    @media screen and (min-width: 768px)
        display: flex
        justify-content: space-around
        flex-flow: wrap
    @media screen and (min-width: 1024px)
        justify-content: flex-start   
.steps__figure
    width: 100%
    @media screen and (min-width: 768px)
        width: 40%
    @media screen and (min-width: 768px)
        margin-right: 10%    
.steps__image
    width: 100%
    margin-bottom: 5%
.steps__title
    font-weight: 600
    font-size: 175%
    @media screen and (min-width: 768px)
        font-size: 3.7vw
.steps__text
    @media screen and (min-width: 768px)
        font-size: 1.9vw


.send-parcel
    @include containerHorisontalPadding
    background: $mainElementColor
    padding-top: $sectionPaddingTop + 2%
    padding-bottom: 5%
    @media screen and (min-width: 768px)
        padding-top: $sectionPaddingTop
        display: flex
        justify-content: space-between
.send-parcel__titel-block
    @media screen and (min-width: 768px)
        width: 50%
    @media screen and (min-width: 1024px)
        width: 65%    
.send-parcel__titel
    @media screen and (min-width: 768px)
        font-size: 192%
    @media screen and (min-width: 768px)
        font-size: 3.6vw
    @media screen and (min-width: 1024px)
        font-size: 2.6vw          
.send-parcel__button
    @media screen and (max-width: 767px)
        margin: 6% 0%
    @media screen and (min-width: 768px)
        width: 43%
        margin-top: 1.5% 
    @media screen and (min-width: 1024px)
        width: 33%
        margin-top: -0.4%
        height: 0%
        @include desctopButtonText


.callBack
    @include containerHorisontalPadding
    padding-top: $sectionPaddingTop
    background: $mainColor
    @media screen and (min-width: 768px)
        display: flex
        justify-content: space-between
.callBack__textBlock
    margin-top: 5%
    @media screen and (min-width: 768px)
        width: 40%
        margin-top: inherit        
.callBack__titel
    color: $textAlternativeColor
    @media screen and (min-width: 768px)
        font-size: 192% 
.callBack__form
    @media screen and (min-width: 768px)
        width: 43%                
.callBack__text
    margin-top: 5%
    color: $textAlternativeColor
    font-weight: 600
    font-size: 4.6vw
    @media screen and (min-width: 768px)
        font-size: 2vw
        margin-top: inherit  
.callBack__input
    color: $textAlternativeColor
    border-color: $textAlternativeColor
    &::placeholder 
        color: white
    @media screen and (min-width: 768px)
        width: 100%    
.callBack__btn
    margin-top: 5%    
    background: #FFCC00
    color: $textColor
    @media screen and (min-width: 768px)
        width: 100%
.callBack__checkboxLabel
    width: 80%
    color: white
    background-color: $mainColor
    margin-left: 2%     
    font-size: 3.17vw
    margin-bottom: 3%
    @media screen and (min-width: 768px)
        font-size: 1.39vw
.callBack__checkboxInput
    margin-top: 3%  
    margin-right: 3%
    
      


                   