footer
    background-color: $footer_backgroundColor
    @extend %containerPadding

/* callbackFooter-section */    
.callbackFooter
    padding:
        top: 4%
        bottom: 0
    @media screen and (min-width: 1024px)    
        padding-top: 2.5%
.callbackFooter__upperContainer
    @media screen and (min-width: 768px)
        @include flex(space-between, center)
    &> *
        @media screen and (min-width: 768px)
            width: 30%
.callbackFooter__titel
    text-transform: uppercase
    @media screen and (min-width: 768px)
        font-size: 2.6vw
        align-self: end
        margin-bottom: 1.5%
    @media screen and (min-width: 1024px)
        font-size: 2.1vw
        margin-bottom: 0.4vw
.callbackFooter__input
    $color: #363636
    @extend %callback__input
    background-color: $footer_backgroundColor
    border-color: $color
    &::placeholder 
        color: $color
        font-weight: 400
        font-size: 4.8vw
        @media screen and (min-width: 768px)
            font-size: inherit 
.callbackFooter__button
    margin:
        top: 3.5vw
        bottom: 1vw
    @media screen and (min-width: 768px)
        margin: inherit              
.callbackFooter___checkboxLabel
    @extend %callback__checkboxLabel
    background-color: $footer_backgroundColor
    color: #9E9E9E
    margin-bottom: 4%
    @media screen and (min-width: 768px)
        @include flex(center, center)
        width: 100%
        margin: 1vw 0 1vw 1vw
    @media screen and (min-width: 1024px)
        margin-left: -2vw    
.callbackFooter__checkboxInput
    @extend %callback__checkboxInput
    @media screen and (min-width: 768px)
        margin:
            right: 1vw
            top: -0.6vw
// .callbackFooter__hr
    // margin: 0    

/* navFooter-section */    
.navSectionFooter
    @include flex(space-between, center)
    @media screen and (min-width: 768px)
        align-items: start
        padding:
            top: 2.5%
            bottom: 2.7%
    @media screen and (min-width: 1024px)
        padding:
            top: 1.8%
            bottom: 1.5%        
.navSectionFooter__logoBlock
    width: 43vw
    @media screen and (min-width: 768px)
        width: 15%
        // width: 11.5vw
    @media screen and (min-width: 1024px)
        // width: 11.5vw
        width: 13.5%    
.navSectionFooter__logoImg
    @extend %img_width 
.navSectionFooter__mobileMenuIcon
    @extend %displayOnlyMobile
    width: 12.2vw
.navSectionFooter__mobileMenuIcon-Img
    @extend %img_width 
.navSectionFooter__nav_big
    $color: $textColor
    @extend %nav_big
    color: $color
    font-weight: 400
    padding-top: 0.7%
    @media screen and (min-width: 768px)
        width: 82.3%
    @media screen and (min-width: 1024px)
        margin: unset
        font-size: 1.5vw
        width: 83.3%
    & > ul 
        padding: unset
    & > ul > li > a:hover
       color: $color
       
        
// .navSectionFooter__hr        
//     margin: 0

.copyrightFooter
    background-color: wheat        