$mainColor: #008DCD
$mainColorTwo: #94D1EC
$mainFont: null

html 
   background-color: #00539F 
   font-size: 12px
   $mainFont: 'Myriad Pro' !global 
   font:
       family: $mainFont
       weight: 300
 

body 
   background-color: #ffffff
   font-family: $mainFont
   
a
   text-decoration: none 
   color: inherit

h1
   font-weight: 900
   text-transform: uppercase
   font-size: 10.3vw 

h2
   font-weight: 700
   font-size: 7.7vw

h3
   font-weight: 600
   font-size: 5.6vw 

p
   font-weight: 400
   font-size: 3.6vw        

.notFrameworkBtn
    background-color: $mainColor
    border-radius: 30px
    display: inline-block
    cursor: pointer 
    text-transform: uppercase 
    width: 278px
    height: 48px
    font-size: 1.5rem
    font-weight: 600

    &:active
        background-color: $mainColorTwo

    &:hover
        background-color: $mainColor

ul 
   list-style-type: none
   list-style-position: outside

.absolute
   position: absolute

.relative
   position: relative   
