html
   background: black
   background: inherit
   font-size: 100%
   margin: auto
   font:
       family: $mainFont
       weight: 300

body
   background: blue
   background: inherit
   font-family: $mainFont
   
a
   text-decoration: none 
   color: inherit

h1
   font-weight: 900
   text-transform: uppercase
   font-size: 10.3vw 

h2
   font-weight: 700
   font-size: 7.7vw

h3
   font-weight: 600
   font-size: 5.6vw 

p
   font-weight: 400
   font-size: 72%
   font-size: 3.6vw
   color: $textColor
   @media screen and (min-width: 768px)
      font-size: 1.8vw
   @media screen and (min-width: 1024px)
      font-size: 1.15vw 

.root
   width: 100%

.notFrameworkBtn
    background-color: $mainColor
    border-radius: 30vw
    display: inline-block
    cursor: pointer 
    text-transform: uppercase 
    width: 278px
    height: 48px
    font-size: 1rem
    font-weight: 600
    @media screen and (max-width: 767px)
        width: 100%  
    &:active
        background-color: $mainColorTwo
    &:hover
        background-color: $mainColor
    @media screen and (min-width: 1024px)    
      @include desctopButtonText
      // @extend %desctopButtonText
      
.input-global
   @extend .notFrameworkBtn
   text-transform: inherit 
   padding: 0.375rem 1.25rem
   border: 1px solid black
   text-overflow: ellipsis   

ul 
   list-style-type: none
   list-style-position: outside 

hr
   margin: 0       

.icons_global
   width: 100%    