.header__image
    width: 100%
    min-height:  100vw * 0.875
    background: url('../images/header_mobile_background.png') no-repeat
    background-size: cover 
    display: flex
    justify-content: space-between
    padding: 8%

    @media screen and (min-width: 768px)
        background: url('../images/header_tablet_background.jpg') no-repeat
        background-size: contain
        min-height: 100vw * 0.538
        padding: 3vw 4vw
        justify-content: flex-start

    @media screen and (min-width: 1024px)
        background: url('../images/header_desktop_background.jpg') no-repeat
        background-size: contain
        width: 98vw
        margin: 0 auto
        padding: 3vw 9vw

.header__textContainer_mobile
    padding: 3% 6%
    display: block

    @media screen and (min-width: 768px)
        color: white
        width: 53vw
        position: absolute
        padding: 0%
        top: 21%
        left: 4%
       
        & > h1
            font-size: 5.8vw

        & > h2
            font-size: 3.7vw
            margin-top: 4.3%

.header__button
    margin: 6% 5%
    width: 80vw
    @media screen and (min-width: 768px)
        margin: 0%
        margin-top: 8.1%
        width: 70%

.header__textContainer_big
    top: 12.6vw
    left: 4.2vw
    color: white

    & > h2
        font-size: 3.7vw
        margin-top: 1rem

        @media screen and (min-width: 1024px)
            font-size: 2.5vw

    @media screen and (max-width: 767px)
        display: none

    @media screen and (min-width: 1023px) 
        top: 10vw
        left: 10vw

.header__appealSpan_tablet
    @media screen and (min-width: 1024px)
        display: none

    & > h1
        font-size: 5.7vw

.header__appealSpan_desctop
    margin-bottom: 2%

    & > h1
        font-size: 3.3vw

    @media screen and (max-width: 1023px)
        display: none

.header__button

    &_big
        width: 35vw
        margin-top: 6vw

        @media screen and (min-width: 1024px) 
            width: 25vw
            margin-top: 3.3vw
            height: 3.3vw
            font-size: 1vw
            word-spacing: 0.5vw
            letter-spacing: 0.2vw

.logo 
    width: 30vw

    & > a > img
        width: 100%

    @media screen and (min-width: 768px)
        width: 15vw        

.nav
    color: #000000
    line-height: 1.9
    font:
        family: $mainFont
        size: 2.5rem
        weight: 400
        

.nav_big
    color: #ffffff
    width: 100%
    font:
        family: $mainFont
        size: 1rem
        weight: 300
        position: fixed
        

    & > ul
        display: flex
        justify-content: space-between

        @media screen and (min-width: 1440px)
            justify-content: space-around

    & > ul > li > a:hover
        font-weight: 400
        color: #ffffff
        letter-spacing: -0.05vw

        @media screen and (min-width: 1440px)
           letter-spacing: -0.06vw

    @media screen and (max-width: 767px)
        display: none

    @media screen and (min-width: 1023px)
        margin-top: 1% 
        margin-left: 7vw

    @media screen and (min-width: 1440px)
        margin-top: 0.8% 
        font-size:  2.3rem      

.navContainerMobile
    position: absolute
    top: 0vw
    left: 0vw
    width: 100vw
    min-height: 616px
    background-color: #ffffff
    display: none

    &__headerContainer
        display: flex
        justify-content: space-between
        padding: 11% 8% 
    
    .mobileMenu:hover &
        display: block

    &__menuCloseContainer
        padding-top: 4%


.mobileMenu 
    width: 10vw

    & > img
        width: 100%

    @media screen and (min-width: 768px)
        display: none