$mainColor: #008DCD
$mainColorTwo: #94D1EC
$mainColorThree: white
$mainElementColor: #F7F7F7
$mainFont: 'Myriad Pro'
$textColor: black
$textAlternativeColor: white
$sectionPaddingTop: 5%
$sectionPaddingBottom: 5%