@import _fonts.sass
@import _global.sass
@import _header.sass

main
    background-color: f7f7f7        
    background-color: black  

.logoArea
    width: 80vw    

.sendIt-icon
    width: 30vw

.bringo-icon
    width: 10vw

.dpd-icon
    width: 10vw

.cdek-icon
    width: 10vw 

.pony-icon
    width: 10vw 

.tnt-icon
    width: 10vw 

.cityExpress-icon
    width: 10vw 

.ups-icon
    width: 10vw 

.spsr-icon
    width: 10vw         
