@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MYRIADPRO-BOLD.OTF") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/Myriad-Pro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
html {
  background: black;
  background: inherit;
  font-size: 100%;
  margin: auto;
  font-family: "Myriad Pro";
  font-weight: 300;
}

body {
  background: blue;
  background: inherit;
  font-family: "Myriad Pro";
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 10.3vw;
}

h2 {
  font-weight: 700;
  font-size: 7.7vw;
}

h3 {
  font-weight: 600;
  font-size: 5.6vw;
}

p {
  font-weight: 400;
  font-size: 72%;
  font-size: 3.6vw;
  color: black;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 1.15vw;
  }
}

footer {
  background: red;
}

.root {
  width: 100%;
}

.notFrameworkBtn, .input-global {
  background-color: #008DCD;
  border-radius: 30vw;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  width: 278px;
  height: 48px;
  font-size: 1rem;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .notFrameworkBtn, .input-global {
    width: 100%;
  }
}
.notFrameworkBtn:active, .input-global:active {
  background-color: #94D1EC;
}
.notFrameworkBtn:hover, .input-global:hover {
  background-color: #008DCD;
}
@media screen and (min-width: 1024px) {
  .notFrameworkBtn, .input-global {
    height: 3.5vw;
    font-size: 1vw;
    word-spacing: 0.5vw;
    letter-spacing: 0.2vw;
  }
}

.input-global {
  text-transform: inherit;
  padding: 0.375rem 1.25rem;
  border: 1px solid black;
  text-overflow: ellipsis;
}

ul {
  list-style-type: none;
  list-style-position: outside;
}

.header__image {
  width: 100%;
  min-height: 87.5vw;
  background: url("../images/header_mobile_background.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 8%;
}
@media screen and (min-width: 768px) {
  .header__image {
    background: url("../images/header_tablet_background.jpg") no-repeat;
    background-size: contain;
    min-height: 53.8vw;
    padding: 3% 4%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .header__image {
    background: url("../images/header_desktop_background.jpg") no-repeat;
    background-size: contain;
    min-height: 36.3vw;
    margin: 0 auto;
    padding: 3% 9%;
  }
}

.header__textContainer {
  padding: 3% 6%;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__textContainer {
    color: white;
    width: 53vw;
    position: absolute;
    padding: 0%;
    top: 17%;
    top: 12.6vw;
    left: 4%;
  }
}
@media screen and (min-width: 1024px) {
  .header__textContainer {
    top: 20%;
    top: 11.2vw;
    left: 9%;
  }
}

@media screen and (min-width: 768px) {
  .header__h1_mobile {
    display: none;
  }
}

.header__h1_tablet {
  font-size: 5.8vw;
}
@media screen and (max-width: 767px) {
  .header__h1_tablet {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__h1_tablet {
    display: none;
  }
}

.header__h1_desctop {
  font-size: 3.4vw;
}
@media screen and (max-width: 1023px) {
  .header__h1_desctop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__h2 {
    font-size: 3.7vw;
    margin-top: 4.3%;
  }
}
@media screen and (min-width: 1024px) {
  .header__h2 {
    font-size: 2.5vw;
    margin-top: 2%;
  }
}

.header__button {
  margin: 6% 0%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__button {
    margin: 0%;
    margin-top: 8.1%;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .header__button {
    width: 47%;
    margin-top: 4%;
  }
}

.logo {
  width: 30vw;
}
.logo > a > img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 15vw;
  }
}

.mobileMenuIcon {
  width: 10vw;
}
.mobileMenuIcon > img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mobileMenuIcon {
    display: none;
  }
}

.nav_mobile {
  color: #000000;
  line-height: 1.9;
  font-family: "Myriad Pro";
  font-size: 12vw;
  font-weight: 400;
}

.nav_big {
  color: #ffffff;
  width: 100%;
  font-family: "Myriad Pro";
  font-size: 2.2vw;
  font-weight: 300;
  font-position: fixed;
}
.nav_big > ul {
  display: flex;
  justify-content: space-between;
}
.nav_big > ul > li > a:hover {
  font-weight: 400;
  color: #ffffff;
  letter-spacing: -0.05vw;
}
@media screen and (min-width: 1440px) {
  .nav_big > ul > li > a:hover {
    letter-spacing: -0.06vw;
  }
}
@media screen and (max-width: 767px) {
  .nav_big {
    display: none;
  }
}
@media screen and (min-width: 1023px) {
  .nav_big {
    font-size: 2vw;
    margin-left: 7%;
  }
}

.navContainerMobile {
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100vw;
  min-height: 616px;
  background-color: #ffffff;
  display: none;
}
.navContainerMobile__headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 11% 8%;
}
.mobileMenuIcon:hover .navContainerMobile {
  display: block;
}
.navContainerMobile__menuCloseContainer {
  padding-top: 4%;
}

main {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #F7F7F7;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 768px) {
  main {
    border-color: #F7F7F7;
    border-bottom-style: solid;
    border-bottom-width: 2vw;
  }
}
@media screen and (min-width: 1024px) {
  main {
    margin-top: -0.5vw;
  }
}
@media screen and (min-width: 768px) {
  main {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding-left: 9%;
    padding-right: 9%;
  }
}

.main__h2 {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__h2 {
    display: inline;
    font-size: 4.5vw;
  }
}

.main__iconBlock {
  background: #F7F7F7;
  border-color: #F7F7F7;
  border-bottom-style: solid;
  border-bottom-width: 10vw;
}
.main__iconBlock > div:not(:first-child) {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .main__iconBlock {
    width: 62%;
    padding-left: 2.5%;
  }
}
@media screen and (min-width: 768px) {
  .main__iconBlock {
    border: none;
  }
}

.main__iconBlock__logoArea {
  position: relative;
}
.main__iconBlock__logoArea > img {
  width: 100%;
}

.bringoLogo {
  position: absolute;
  width: 13%;
  top: 21%;
  left: 20%;
  bottom: 0;
  right: 0;
}
.bringoLogo > img {
  width: 100%;
}

.cityExpressLogo {
  position: absolute;
  width: 17%;
  top: 29%;
  left: 82%;
  bottom: 0;
  right: 0;
}
.cityExpressLogo > img {
  width: 100%;
}

.cdekLogo {
  position: absolute;
  width: 14%;
  top: 49%;
  left: 19%;
  bottom: 0;
  right: 0;
}
.cdekLogo > img {
  width: 100%;
}

.dpdLogo {
  position: absolute;
  width: 15%;
  top: 34%;
  left: 2%;
  bottom: 0;
  right: 0;
}
.dpdLogo > img {
  width: 100%;
}

.ponyLogo {
  position: absolute;
  width: 16%;
  top: 64%;
  left: 4%;
  bottom: 0;
  right: 0;
}
.ponyLogo > img {
  width: 100%;
}

.tntLogo {
  position: absolute;
  width: 13%;
  top: 12%;
  left: 62%;
  bottom: 0;
  right: 0;
}
.tntLogo > img {
  width: 100%;
}

.sendItMan {
  position: absolute;
  width: 30%;
  top: 28%;
  left: 36%;
  bottom: 0;
  right: 0;
}
.sendItMan > img {
  width: 100%;
}

.spsrLogo {
  position: absolute;
  width: 20%;
  top: 63%;
  left: 80%;
  bottom: 0;
  right: 0;
}
.spsrLogo > img {
  width: 100%;
}

.upsLogo {
  position: absolute;
  width: 14%;
  top: 49%;
  left: 65%;
  bottom: 0;
  right: 0;
}
.upsLogo > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.main__button {
  margin-top: 1vw;
  margin-top: 1%;
}
@media screen and (min-width: 768px) {
  .main__button {
    width: 100%;
    margin-top: 3vw;
    margin-top: 1%;
  }
}
@media screen and (min-width: 1024px) {
  .main__button {
    width: 82%;
  }
}

.main__textBlock {
  margin-top: 5vw;
  margin-bottom: 1vw;
}
@media screen and (min-width: 768px) {
  .main__textBlock {
    width: 38%;
    margin: 0;
    padding-top: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .main__textBlock {
    padding-top: 4%;
  }
}

.main__textBlock-h2 {
  font-size: 5.8vw;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__textBlock-h2 {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .main__textBlock-h2 {
    font-size: 2.5vw;
  }
}

.steps {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
@media screen and (min-width: 768px) {
  .steps {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (min-width: 1024px) {
  .steps {
    padding-left: 9%;
    padding-right: 9%;
  }
}
@media screen and (min-width: 768px) {
  .steps {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .steps {
    justify-content: flex-start;
  }
}

.steps__figure {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .steps__figure {
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .steps__figure {
    margin-right: 10%;
  }
}

.steps__image {
  width: 100%;
  margin-bottom: 5%;
}

.steps__title {
  font-weight: 600;
  font-size: 175%;
}
@media screen and (min-width: 768px) {
  .steps__title {
    font-size: 3.7vw;
  }
}

@media screen and (min-width: 768px) {
  .steps__text {
    font-size: 1.9vw;
  }
}

.send-parcel {
  padding-left: 5%;
  padding-right: 5%;
  background: #F7F7F7;
  padding-top: 7%;
  padding-bottom: 5%;
}
@media screen and (min-width: 768px) {
  .send-parcel {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (min-width: 1024px) {
  .send-parcel {
    padding-left: 9%;
    padding-right: 9%;
  }
}
@media screen and (min-width: 768px) {
  .send-parcel {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .send-parcel__titel-block {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .send-parcel__titel-block {
    width: 65%;
    padding-top: 0.5vw;
  }
}

@media screen and (min-width: 768px) {
  .send-parcel__titel {
    font-size: 192%;
  }
}
@media screen and (min-width: 768px) {
  .send-parcel__titel {
    font-size: 3.6vw;
  }
}
@media screen and (min-width: 1024px) {
  .send-parcel__titel {
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 767px) {
  .send-parcel__button {
    margin: 6% 0%;
  }
}
@media screen and (min-width: 768px) {
  .send-parcel__button {
    width: 43%;
    margin-top: 1.5%;
  }
}
@media screen and (min-width: 1024px) {
  .send-parcel__button {
    width: 33%;
    margin-top: inherit;
  }
}

.callBack {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  background: #008DCD;
}
@media screen and (min-width: 768px) {
  .callBack {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (min-width: 1024px) {
  .callBack {
    padding-left: 9%;
    padding-right: 9%;
  }
}
@media screen and (min-width: 768px) {
  .callBack {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .callBack {
    padding-bottom: 2%;
  }
}

.callBack__textBlock {
  margin-top: 5%;
}
@media screen and (min-width: 768px) {
  .callBack__textBlock {
    width: 40%;
    margin-top: inherit;
  }
}
@media screen and (min-width: 1024px) {
  .callBack__textBlock {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.5%;
    padding-bottom: 2%;
  }
}
@media screen and (min-width: 1440px) {
  .callBack__textBlock {
    padding-top: 0.5vw;
    padding-bottom: 2vw;
  }
}

.callBack__titel {
  color: white;
}
@media screen and (min-width: 768px) {
  .callBack__titel {
    font-size: 3.6vw;
  }
}
@media screen and (min-width: 1024px) {
  .callBack__titel {
    font-size: 3.4vw;
  }
}

.callBack__text {
  margin-top: 5%;
  color: white;
  font-weight: 600;
  font-size: 4.6vw;
}
@media screen and (min-width: 768px) {
  .callBack__text {
    font-size: 2vw;
    margin-top: inherit;
  }
}
@media screen and (min-width: 1024px) {
  .callBack__text {
    font-size: 1.73vw;
  }
}

@media screen and (min-width: 768px) {
  .callBack__form {
    width: 43%;
  }
}
@media screen and (min-width: 1024px) {
  .callBack__form {
    width: 33%;
    margin-top: 0.3vw;
  }
}

.callBack__input {
  color: white;
  border-color: white;
}
.callBack__input::placeholder {
  color: white;
}
@media screen and (min-width: 768px) {
  .callBack__input {
    width: 100%;
  }
}

.callBack__btn {
  margin-top: 5%;
  background: #FFCC00;
  color: black;
}
@media screen and (min-width: 768px) {
  .callBack__btn {
    width: 100%;
  }
}

.callBack__checkboxLabel {
  width: 80%;
  color: white;
  background-color: #008DCD;
  margin-left: 2%;
  font-size: 3.17vw;
  margin-bottom: 3%;
}
@media screen and (min-width: 768px) {
  .callBack__checkboxLabel {
    font-size: 1.39vw;
    margin-left: inherit;
  }
}
@media screen and (min-width: 768px) {
  .callBack__checkboxLabel {
    font-size: 0.9vw;
    vertical-align: baseline;
  }
}

.callBack__checkboxInput {
  margin-top: 3%;
  margin-right: 3%;
  vertical-align: sub;
}
@media screen and (min-width: 376px) and (max-width: 767px) {
  .callBack__checkboxInput {
    vertical-align: baseline;
  }
}

.reviews {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (min-width: 1024px) {
  .reviews {
    padding-left: 9%;
    padding-right: 9%;
  }
}

.reviews__titel {
  font-size: 8.7vw;
}

.reviews__slider {
  display: flex;
  justify-content: space-between;
}

.reviews__controlersContiner {
  display: flex;
  align-items: center;
}

.slider__controlers {
  width: 12px;
  height: 12px;
  border-left: 2px solid #C4C4C4;
  border-bottom: 2px solid #C4C4C4;
  border-right: white;
  border-top: white;
  background-color: white;
  text-align: center;
}
.slider__controlers_left {
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.slider__controlers_right {
  transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
}

.slider__inner {
  width: 75vw;
}

.slide__up {
  display: flex;
  height: 40vw;
}

.slide__authorImg {
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide__authorImg_userOne {
  background-image: url("../images/author_1.jpg");
}
.slide__authorImg_userTwo {
  background-image: url("../images/author_2.jpg");
}

.slide__info-block {
  width: 53%;
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide__author-name {
  font-weight: 500;
  font-size: 7.7vw;
}

.slide__author-company {
  font-weight: 400;
}

.slide__review {
  font-size: 3.8vw;
}

.slider__slide-container_One {
  display: block;
}

.slider__slide-container_Two {
  display: none;
}

.mt_3percent {
  margin-top: 3%;
}

/*# sourceMappingURL=style.css.map */
