@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MYRIADPRO-BOLD.OTF") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/Myriad-Pro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
html {
  background: black;
  font-size: 100%;
  margin: auto;
  font-family: "Myriad Pro";
  font-weight: 300;
}

body {
  background: blue;
  font-family: "Myriad Pro";
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 10.3vw;
}

h2 {
  font-weight: 700;
  font-size: 7.7vw;
}

h3 {
  font-weight: 600;
  font-size: 5.6vw;
}

p {
  font-weight: 400;
  font-size: 3.6vw;
}

.root {
  width: 100%;
}

.notFrameworkBtn {
  background-color: #008DCD;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  width: 278px;
  height: 48px;
  font-size: 1rem;
  font-weight: 600;
}
.notFrameworkBtn:active {
  background-color: #94D1EC;
}
.notFrameworkBtn:hover {
  background-color: #008DCD;
}

ul {
  list-style-type: none;
  list-style-position: outside;
}

.header__image {
  width: 100%;
  min-height: 87.5vw;
  background: url("../images/header_mobile_background.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 8%;
}
@media screen and (min-width: 768px) {
  .header__image {
    background: url("../images/header_tablet_background.jpg") no-repeat;
    background-size: contain;
    min-height: 53.8vw;
    padding: 3% 4%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .header__image {
    background: url("../images/header_desktop_background.jpg") no-repeat;
    background-size: contain;
    min-height: 36.3vw;
    margin: 0 auto;
    padding: 3% 9%;
  }
}

.header__textContainer {
  padding: 3% 6%;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__textContainer {
    color: white;
    width: 53vw;
    position: absolute;
    padding: 0%;
    top: 17%;
    top: 12.6vw;
    left: 4%;
  }
}
@media screen and (min-width: 1024px) {
  .header__textContainer {
    top: 20%;
    top: 11.2vw;
    left: 9%;
  }
}

@media screen and (min-width: 768px) {
  .header__h1_mobile {
    display: none;
  }
}

.header__h1_tablet {
  font-size: 5.8vw;
}
@media screen and (max-width: 767px) {
  .header__h1_tablet {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__h1_tablet {
    display: none;
  }
}

.header__h1_desctop {
  font-size: 3.4vw;
}
@media screen and (max-width: 1023px) {
  .header__h1_desctop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__h2 {
    font-size: 3.7vw;
    margin-top: 4.3%;
  }
}
@media screen and (min-width: 1024px) {
  .header__h2 {
    font-size: 2.5vw;
    margin-top: 2%;
  }
}

.header__button {
  margin: 6% 0%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__button {
    margin: 0%;
    margin-top: 8.1%;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .header__button {
    width: 47%;
    margin-top: 4%;
    height: 3.3%;
    font-size: 1vw;
    word-spacing: 0.5vw;
    letter-spacing: 0.2vw;
  }
}

.logo {
  width: 30vw;
}
.logo > a > img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 15vw;
  }
}

.mobileMenuIcon {
  width: 10vw;
}
.mobileMenuIcon > img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mobileMenuIcon {
    display: none;
  }
}

.nav_mobile {
  color: #000000;
  line-height: 1.9;
  font-family: "Myriad Pro";
  font-size: 12vw;
  font-weight: 400;
}

.nav_big {
  color: #ffffff;
  width: 100%;
  font-family: "Myriad Pro";
  font-size: 2.2vw;
  font-weight: 300;
  font-position: fixed;
}
.nav_big > ul {
  display: flex;
  justify-content: space-between;
}
.nav_big > ul > li > a:hover {
  font-weight: 400;
  color: #ffffff;
  letter-spacing: -0.05vw;
}
@media screen and (min-width: 1440px) {
  .nav_big > ul > li > a:hover {
    letter-spacing: -0.06vw;
  }
}
@media screen and (max-width: 767px) {
  .nav_big {
    display: none;
  }
}
@media screen and (min-width: 1023px) {
  .nav_big {
    font-size: 2vw;
    margin-left: 7%;
  }
}

.navContainerMobile {
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100vw;
  min-height: 616px;
  background-color: #ffffff;
  display: none;
}
.navContainerMobile__headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 11% 8%;
}
.mobileMenuIcon:hover .navContainerMobile {
  display: block;
}
.navContainerMobile__menuCloseContainer {
  padding-top: 4%;
}

main {
  width: 100%;
  padding: 5% 6%;
  background-color: #F7F7F7;
  background-color: wheat;
}

.main__h2 {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__h2 {
    display: inline;
    font-size: 4.5vw;
  }
}

.main__iconBlock {
  background: green;
  height: 50vw;
}
@media screen and (min-width: 768px) {
  .main__iconBlock {
    width: 60%;
    padding-left: 2%;
    height: inherit;
  }
}

@media screen and (min-width: 768px) {
  .main__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.main__p {
  font-size: 3.6vw;
  color: black;
}
@media screen and (min-width: 768px) {
  .main__p {
    font-size: 1.8vw;
  }
}

.main__button {
  width: 100%;
  margin-top: 1vw;
}

.main__textBlock {
  margin-top: 5vw;
  margin-bottom: 1vw;
}
@media screen and (min-width: 768px) {
  .main__textBlock {
    width: 40%;
    background: red;
    margin: 0;
  }
}

.main__textBlock-h2 {
  font-size: 5.8vw;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__textBlock-h2 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
